.talent-calculator {
    max-width: 1000px;
    background: #000;

    &.complete {
        .talent.empty .num {
            display: none !important;
        }
        > .header > .points {
            color: var(--color-grey);
        }
    }

    > .header {
        @mixin clearfix;
        padding: 10px;
        font-size: 18px;
        font-weight: 600;

        > * {
            display: inline-block;
            vertical-align: middle;
        }

        > .icon {
            margin-right: 10px;

            img {
                width: 30px;
                border-radius: 50%;
            }
        }

        > .name {
            text-transform: capitalize;
        }

        > .link {
            float: right;
            margin-left: 10px;

            a,
            button {
                color: var(--color-grey);
                border: 1px solid var(--color-stroke);
                display: block;
                padding: 0 5px;
                background: none;
                border-radius: 4px;
                line-height: 24px;
                text-decoration: none;
                font-size: 14px;
                font-weight: 600;
                cursor: pointer;
                transition: all 0.2s ease;

                &:hover {
                    color: #fff;
                    background: var(--color-primary);
                    border-color: var(--color-primary);
                }

                .micon {
                    line-height: 24px;
                    font-size: 18px;
                    margin-right: 4px;
                }
            }

            button {
                &:hover {
                    background: var(--color-danger);
                    border-color: var(--color-danger);
                }
            }
        }

        > .points {
            float: right;
            margin-right: 20px;
            font-size: 14px;
            line-height: 26px;
        }
    }

    > .trees {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 15px;
        padding: 0 10px 10px;

        > .tree {
            > .header {
                @mixin clearfix;
                padding: 10px 0;
                font-size: 18px;
                font-weight: 600;

                > * {
                    display: inline-block;
                    vertical-align: middle;
                }

                > .icon {
                    margin-right: 10px;

                    img {
                        width: 30px;
                        border-radius: 50%;
                    }
                }

                > .name {
                    text-transform: capitalize;
                }

                > .points {
                    float: right;

                    &.empty {
                        color: var(--color-grey);
                    }
                }
            }

            > .talents {
                background-size: 100% 100%;
                height: 420px;
                padding: 15px 0 0 50px;
                box-sizing: border-box;
                box-shadow: inset 0 0 30px 10px #000;

                > .row {
                    @mixin clearfix;

                    &:nth-child(n+2) {
                        margin-top: 13px;
                    }

                    > .talent {
                        float: left;
                        position: relative;
                        width: 44px;
                        height: 44px;
                        box-sizing: border-box;

                        &:after {
                            content: "";
                            display: block;
                            position: absolute;
                            top: 4px;
                            right: 4px;
                            bottom: 4px;
                            left: 4px;
                            border: 1px solid transparent;
                            border-radius: 3px;
                            pointer-events: none;
                        }

                        &.active {
                            &:after {
                                border-color: #0d0;
                            }
                            .num {
                                color: #0d0;
                            }
                        }

                        &.max {
                            &:after {
                                border-color: rgba(255,200,0,0.8);
                            }
                            .num {
                                color: rgba(255,200,0,0.8);
                            }
                        }

                        &:nth-child(n+2) {
                            margin-left: 15px;
                        }

                        &.empty {
                            a ins {
                                filter: grayscale(1);
                            }
                        }

                        a {
                            display: block;

                            span {
                                pointer-events: auto !important;
                            }
                        }

                        .num {
                            position: absolute;
                            z-index: 2;
                            bottom: -3px;
                            right: -3px;
                            padding: 0 3px;
                            line-height: 16px;
                            font-size: 11px;
                            border-radius: 2px;
                            background: #000;
                            color: var(--color-grey);
                        }
                    }
                }
            }

            > .reset {
                padding: 10px 0;
                text-align: center;
            }
        }
    }

    .required {
        position: absolute;
        z-index: 3;

        &.up-1,
        &.up-2 {
            background: url("/talentcalc/down.png") no-repeat center bottom;
            bottom: 36px;
            width: 15px;
            left: 15px;
        }
        &.up-1 {
            height: 23px;
        }
        &.up-2 {
            height: 80px;
        }
    }
}