:root {
    --color-primary: #06d;
    --color-primary-light: #08f;
    --color-primary-faded: #78a8d5;
    --color-bg1: #000116;
    --color-bg2: #00031f;
    --color-bg3: #00052f;
    --color-bg4: #00073f;
    --color-bg-faded: #071026;
    --color-grey: #aaa;
    --color-grey2: #ccc;
    --color-stroke: rgba(255,255,255,0.1);
    --color-stroke-light: rgba(255,255,255,0.15);
    --color-danger: #c22;
    --color-danger-light: #f66;
    --fs-regular: 14px;
    --ff: "Source Sans Pro", Arial, sans-serif;
}

@supports (height: 100dvh) {
    :root {
        --unit-100vh: 100dvh;
    }
}